body {
    overflow: scroll;
}

.frase {
    font-size: 20px;
    text-align: left;
}

.campo-digitacao {
    font-size: 20px;
    height: 130px;
}

.campo-desabilitado {
    background-color: lightgray;
}

.icones {
    vertical-align: middle;
}

.borda-neutra {
    border: 2px solid black;
}

.digitacao-correta {
    border: 6px solid green;
}

.digitacao-errada {
    border: 6px solid red;
}

.placar {
    display: none;
}